.taskTwo{
  
    text-align: left;
    padding: 20px;
}

.refactor{
    padding: 2px;
    background-color: rgb(80, 228, 166);
}
.error{
    padding: 2px;
    background-color: orangered;
}

.comments {
    padding: 2px;
    color: lightgrey;
}